html,
body{
	width: 100%;
	height: 100%;
}

body{
	overflow-y: hidden;
}

#flipbookContainer{
	width: 100%;
	position: relative;
}

#fbSize{
	width: 100%;
	height: auto;
	position: absolute;
	z-index: -1;
	top: 0;
}

#flipbook img{
	width: 100% !important;
	height: auto;
}

.hidden{
	display: none;
}

#flipbook .page {
    -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    -ms-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    -o-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    background-color: white;
}